@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
    box-sizing: border-box;
    font-family: Rubik;
}
html, body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #202020;
    background-size: cover;
    height: 228px;
}
#top_navigation{
    text-align: right;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #202020;
}
#top_navigation li{
    display: inline;
}

#top_navigation a{
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}
#top_navigation a:hover{
    background-color: rgba(252, 202, 3, .9)
}
#main_greeting{
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 60px;
}
#header_img{
    text-align: left;
    width: 200px;
    height: 200px;
    position:absolute;
    left: 13px;
    top: 13px;
}


body{
    background:  var(--color-secondary);
}

.meh{
    color: var(--font-color);
    font-size: 4em;
    text-align: center;
    margin: 3cm;
}
.table_lib{
    font-size: 2em;
    background: var(--box-color);
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
.table_name{
    font-weight: normal;
    border-bottom: 2px solid var(--box-color);
    border-right: 30px solid var(--box-color);
    border-left: 30px solid var(--box-color);
    color: rgba(252, 202, 3, .9);
    padding: 15px 5px;
}
.table_cell{
    border-right: 30px solid var(--box-color);
    border-left: 30px solid var(--box-color);
    color: white;
    padding: 15px 5px;
}
.table_cell:hover{
    background: #fcca03;
}
.theme-light {
    --color-primary: orange;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --box-color: #202020;
    --font-color: black;
}
.theme-dark {
    --color-primary: #fcca03;
    --color-secondary: #3d3d3d;
    --color-accent: #12cdea;
    --box-color: #202020;
    --font-color: white;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    color: var(--font-color);
}
.container button {
    color: var(--font-color);
    background: var(--color-primary);
    border: none;
    position: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    border-radius: 8px;
}

.footer {
    position: page;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #202020;
    text-align: center;
}
#Footer_final_text{
    text-align: center;
    color: white;
}
#contacts{
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 5px;
}